<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Booking completed</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
        body {
            font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<p>Dear <span th:text="${propertyName}"></span>,</p>
<div>
    A reservation has been completed
    The reservation details are:
    <ul>
        <li>Guest Name: <span th:text="${name}"></span></li>
        <li>Guest Email: <span th:text="${email}"></span></li>
        <li>Room name: <span th:text="${roomName}"></span></li>
        <li>Number of adult(s): <span th:text="${numberOfAdults}"></span></li>
        <li>Number of children: <span th:text="${numberOfChildren}"></span></li>
        <li>Total price: <span th:text="${totalPrice}"></span></li>
    </ul>
</div>

<br>
<p>Thanks for trusting Reservations.com</p>
<br>
<p>
    Regards, <br/>
    &emsp; <em>The Reservations Team</em>
</p>
</body>
</html>